.manprev {
    margin: 5%;
    margin-left: 15%;
}
.entete {
    width: 1px;
    height: 2px;
    background: gray;
}
.mabtn {
    float: right;
}
.matn {
    height: 40px;
    margin-right: 66px;
    border-radius: 20px;
    color: green;
    font-weight: bold;
}
.boxContent {
    width: 200px;
}
.prevBtn {
    margin-top: 7%;
    margin-bottom: 7%;
}
.btnadjustement {
    background: gray;
    border-radius: 8px;
}
.btnadjustement:hover {
    color: white;
    background: red;
    font-weight: bold;
}
.btnadjustement:active {
    color: white;
    background: red;
    font-weight: bold;
}