.manprev {
    margin: 5%;
}
.entete {
    width: 1px;
    height: 2px;
    background: gray;
}
.mabtn {
    float: right;
}
.matn {
    height: 40px;
    margin-right: 66px;
    border-radius: 20px;
    color: green;
    font-weight: bold;
}
.boxContent {
    width: 200px;
} 